
<div class="row">
  <div class="col-md-12 col-12">
    <div class="description-box inner">
      <p id="description">
       <em>Welcome to my portfolio! </em>I'm a Workplace Engineer based in Bern, where I specialize in designing and implementing IT solutions with a focus on device management and system administration. My expertise extends to PowerShell scripting and navigating Windows environments, allowing me to optimize workplace technology effectively. Committed to excellence, I pride myself on exceeding expectations and staying at the forefront of cutting-edge solutions through continuous learning. Based in the vibrant city of Bern. I look forward to connecting with fellow professionals to explore innovative and efficient workplace solutions.</p>
    </div>
      </div>
</div>

<!-- Adapted from Adapted from https://codepen.io/aja9104/pen/nzaZwW -->
<div class="wrapper clearfix">
  <div class="right">
    <div class="inner">
      <section>
        <h1>Employment</h1>
        <p>August 2020 - Present | <em> Post CH AG | Workplace Engineer</em></p>
        <p>Responsibility for the integration of new hardware and driver management. Collaboration in various projects in the workplace area. Introduction of new Windows 10 builds and Windows 11. </p>
        <p>August 2016 - July 2020 | <em> Post CH AG | Apprentice computer scientist EFZ systems engineering</em></p>
        <p>During my apprenticeship, I worked in various departments. However, I spent most of it in Workplace Engineering.</p>
      </section>
      <section>
        <h1>Technical Skills</h1>
        <ul class="skill-set">
          <li>PowerShell</li>
          <li>Windows</li>
          <li>Intune</li>
          <li>Group Policy</li>
          <li>W365</li>
          <li>SQL</li>
          <li>Hardware</li>
          <li>Drivers</li>
        </ul>
      </section>
    </div>
  </div>
</div>
