.icon-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; // align items to the right
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column; // display items in a column
}
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0.5rem;
  }
  
  .icon i {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }