// CSS for weather icons and description box
.icon-box {
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
}
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0.5rem;
  }
  
  .icon i {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }

  // CSS for description box
  .description-box {
    float: left;
    width: 50%;
    padding: 20px;
    margin-left: 0%;
  }
  
  #description {
    padding: 10px;
  }