
<div class="row">
  <div class="col-md-10 col-12">
    <div class="description-box">
      <p id="description">
        Welcome to my portfolio! I'm a Workplace Engineer based in Bern, where I specialize in designing and implementing IT solutions with a focus on device management and system administration. My expertise extends to PowerShell scripting and navigating Windows environments, allowing me to optimize workplace technology effectively. Committed to excellence, I pride myself on exceeding expectations and staying at the forefront of cutting-edge solutions through continuous learning. Based in the vibrant city of Bern. I look forward to connecting with fellow professionals to explore innovative and efficient workplace solutions.</p>
    </div>
      </div>
  <div class="col-md-2 col-12">
    <div class="icon-box ">
      <div class="icon">
        <i class="bi bi-thermometer"></i>
        <span id="temperature">Temperature</span>
      </div>
      <div class="icon">
        <i class="bi bi-wind"></i>
        <span id="wind">Wind Speed</span>
      </div>
    </div>
    </div>
</div>
