<footer class="mat-elevation-z2 d-flex flex-row justify-content-between">
    <div>
        <span>&copy; {{ "2023" }} {{ "Roman Krass" }}</span>
    </div>
    <div class="">
      <div class="icon-box ">
        <div class="icon">
          <i class="bi bi-thermometer margin"></i>
          <span id="temperature">Temperature</span>
          <i class="bi bi-wind margin"></i>
          <span id="wind">Wind Speed</span>
        </div>
      </div>
      </div>
    <div class="footer-icons">
        <a href="https://github.com/RomanKrass/Portfolio" target="_blank">
            <i class="bi bi-github h4"></i>
          </a>
          <a href="https://www.instagram.com/roman_krass/" target="_blank">
            <i class="bi bi-instagram px-3 h4"></i>
          </a>
          <a href="www.linkedin.com/in/roman-krass-4969781a7" target="_blank">
            <i class="bi bi-linkedin h4"></i>
          </a>
</div>
</footer>
